@import "tailwindcss";

.jomolhari-regular {
    font-family: "Jomolhari", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .jomolhari-light {
    font-family: "Jomolhari", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
.joan-regular {
    font-family: "Joan", serif;
    font-weight: 400;
    font-style: normal;
  }
  .joan-dark {
    font-family: "Joan", serif;
    font-weight: 600;
    font-style: normal;
  }
  .itim-regular {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
  }

  @layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}
  
